@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html,
body,
#root,
.App,
.content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3",sans-serif;
  background-color:#DCDCDC;
}